.desktop{
    position: fixed;
    z-index: 2;
    left: 50px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}


.taskbar-top .desktop{
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
}
.taskbar-left .desktop{
    left: 50px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.taskbar-right .desktop{
    left: 0px;
    right: 50px;
    top: 0px;
    bottom: 0px;
}
.taskbar-bottom .desktop{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 50px;
}